
main{
 background-color: var(--light-blue) ;
 color: var(--blue);
 padding: 2rem var(--padding-lr-in-s);;
 display: flex;
 flex-direction: column;
 min-height: 50vh;
 justify-content: center;
 border-radius: 2rem;
}
button{
 margin-top: 1.5rem;
}
